# Python libraries for graphing:
# The Threat of Food Insecurity in Canada from the Economic Fallout of COVID-19

# Testing and code checking
python-ta

# Data extraction and visualization
plotly
scrapy

# Data file storage
json
csv

# Performing calculations
statistics
math
