# Python libraries for graphing:
# The Global Threat of Food Insecurity from the Economic Fallout of COVID-19

# Testing and code checking
python-ta

# Data extraction and visualization
plotly==5.4.0
scrapy==2.5.1

# Performing calculations
statistics
